<h2>Doctor Details</h2>
<%- include('../error', {errorMessage}) %> <% if (doctorDetails) { %>
<table>
  <tr>
    <td>Name</td>
    <td><%= doctorDetails.DoctorName %></td>
  </tr>
  <tr>
    <td>Surname</td>
    <td><%= doctorDetails.DoctorSurname %></td>
  </tr>
  <tr>
    <td>Hospital</td>
    <td><%= doctorDetails.HospitalName %></td>
  </tr>
  <tr>
    <td>Department</td>
    <td><%= doctorDetails.DepartmentName %></td>
  </tr>
  <tr>
    <td>Telephone Number</td>
    <td><%= doctorDetails.DoctorTelephoneNumber %></td>
  </tr>
  <tr>
    <td>Working Hours</td>
    <td>
      <%= doctorDetails.StartTime.slice(0,5) %> - <%=
      doctorDetails.EndTime.slice(0,5) %>
    </td>
  </tr>

  <table>
    <% } %>
  </table>
</table>
